{% extends 'main/header.html' %} 

{% load static %} 

{% block title %} 
Чат
{% endblock %} 

{% block content %} 
{% csrf_token %} 


<div class="chat_list">
    <div style="display: flex">
        <img src="{% static 'main/png/search_icon.png' %}" style="width: 30px; height: 30px; margin-left: 5px; margin-top: 5px;">
        <input id="search_input" class="search-input" placeholder="Поиск...">
    </div>
    


    <ul id="chat_list">
    
    </ul>
</div>

<div style="border: 2px solid red; margin-left: 400px; height: 100vh">

</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'main/js/main.js' %}"></script>

{% endblock %} 