* { margin:0; padding:0; }
@font-face {
    font-family: 'Inter'; /*a name to be used later*/
    src: url('../fonts/Inter-Regular.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'Inter-bold'; /*a name to be used later*/
    src: url('../fonts/Inter-Bold.ttf'); /*URL to font*/
}
body{
    background-color:#252525;
}

.sign_up_title{
    font-family: 'Inter';
    color: #BE9E79;
    position: relative;
    text-align: center;
    margin-top: 20px;
}

.sign_up_input{
    display: block;
    width: 300px;
    height: 40px;
    margin: 15px auto;
    background-color: #252525;
    border: 2px solid rgb(100, 100, 100);
    color: white;
    font-size: 12pt;
    border-radius: 7px;
    padding-left: 5px;
}
.sign_up_input:focus{
    outline: none !important;
    border: 2px solid #BE9E79;
}

.sign_up_button{
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    background-color: #BE9E79;
    color: white;
    border: none;
    border-radius: 10px;
    transition: 0.2s;
}
.sign_up_button:hover{
    background-color: #665541;
    color: grey;
}

.sign_up_button_text{
    font-size: 12pt;
    font-family: 'Inter';
}

.sign_in_button{
    display: block;
    width: 150px;
    height: 50px;
    margin: 0 auto;
    background-color: #BE9E79;
    color: white;
    border: none;
    border-radius: 10px;
    transition: 0.2s;
}
.sign_in_button:hover{
    background-color: #665541;
    color: grey;
}

.sign_in_button_text{
    font-size: 12pt;
    font-family: 'Inter';
}

.error{
    position: relative;
    margin: 10px auto;
    width: 300px;
    display: block;
    color: red;
    font-family: 'Inter';
}


body{
    overflow: hidden;
}

.chat_list{
    list-style-type:none;
    display: block;
    box-shadow: 5px 0 20px black;
    width: 400px;
    position: relative;
    float: left;
}

.chat_list_element{
    font-family: 'Inter';
    color: white;
    background-color: #252525;
    
    width: 400px;
    height: 60px;
    position: relative;
    display: flex;
    transition: 0.2s;
}
.chat_list_element:hover{
    background-color: #474747;
}

.chat_list_element_image{
    object-fit: cover;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: relative;
    top: 5px;
    left: 5px;
}

.chat_list_element_title{
    position: relative;
    margin-left: 15px;
    margin-top: 10px;
    
}

.image_upload{
    position: relative;
    display: block;
    width: 400px;
    margin: 0 auto;
}

.file-upload {
    background-color: #ffffff;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
}
  
.file-upload-content {
    display: none;
    width: 400px;
    height: 150px;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    display: block;
    width: 400px;
    height: 150px;
    margin-top: 20px;
    border: 2px dashed #BE9E79;
    border-radius: 20px;
    position: relative;
    transition: 0.3s;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: rgb(80, 80, 80);
    border: 2px dashed #ffffff;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
    position: relative;
    top: 40%;
    color:#BE9E79;
    font-family: 'Inter';
    font-size: 12pt;
}

.file-upload-image {
    height: 200px;
    margin: 0 auto;
    padding: 20px;
}

.remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all .2s ease;
}

.edit-info-button-save{
    display: block;
    position: relative;
    width: 100px;
    height: 50px;
    margin: 20px auto;
    top: 140px;
    background-color: #BE9E79;
    border: none;
    border-radius: 10px;
    color: white;
    transition: 0.2s;
}
.edit-info-button-save:hover{
    background-color: #665541;
    color: grey;
}

.edit_info_title{
    margin-top: 50px;
    text-align: center;
    color: #BE9E79;
    font-family: 'Inter';
}

.edit-info-username-input{
    display: block;
    background-color: #252525;
    border: 2px solid #BE9E79;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    margin: 40px auto;
    color: white;
    font-size: 15pt;
    padding-left: 10px;
}

.edit-info-status-input{
    display: block;
    background-color: #252525;
    border: 2px solid #BE9E79;
    border-radius: 10px;
    width: 400px;
    height: 50px;
    margin: 0 auto;
    color: white;
    font-size: 15pt;
    padding-left: 10px;
}

.edit-info-avatar-title{
    width: 400px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    color: white;
    font-family: 'Inter';
    font-size: 15pt;
}

.search-input{
    width: 100%;
    height: 40px;
    position: relative;
    margin-left: 10px;
    font-size: 12pt;
    font-family: 'Inter';
    background-color: #252525;
    border: none;
    color: white;
    padding-left: 5px;
}

.chat_list_element_text{
    position: relative;
    left: 15px;
    top: 5px;
    color: grey;
    font-size: 10pt;
}
