* { margin:0; padding:0; }
@font-face {
    font-family: 'Inter'; /*a name to be used later*/
    src: url('../fonts/Inter-Regular.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'Inter-bold'; /*a name to be used later*/
    src: url('../fonts/Inter-Bold.ttf'); /*URL to font*/
}
body{
    background-color:#252525;
}

.sign_up_title{
    font-family: 'Inter';
    color: #BE9E79;
    position: relative;
    text-align: center;
    margin-top: 20px;
}

.sign_up_input{
    display: block;
    width: 300px;
    height: 40px;
    margin: 15px auto;
    background-color: #252525;
    border: 2px solid rgb(100, 100, 100);
    color: white;
    font-size: 12pt;
    border-radius: 7px;
    padding-left: 5px;
}
.sign_up_input:focus{
    outline: none !important;
    border: 2px solid #BE9E79;
}

.sign_up_button{
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    background-color: #BE9E79;
    color: white;
    border: none;
    border-radius: 10px;
    transition: 0.2s;
}
.sign_up_button:hover{
    background-color: #665541;
    color: grey;
}

.sign_up_button_text{
    font-size: 12pt;
    font-family: 'Inter';
}

.sign_in_button{
    display: block;
    width: 150px;
    height: 50px;
    margin: 0 auto;
    background-color: #BE9E79;
    color: white;
    border: none;
    border-radius: 10px;
    transition: 0.2s;
}
.sign_in_button:hover{
    background-color: #665541;
    color: grey;
}

.sign_in_button_text{
    font-size: 12pt;
    font-family: 'Inter';
}

.error{
    position: relative;
    margin: 10px auto;
    width: 300px;
    display: block;
    color: red;
    font-family: 'Inter';
}


body{
    overflow: hidden;
}

.chat_list{
    list-style-type:none;
    display: block;
    box-shadow: 5px 0 20px black;
    width: 400px;
    position: relative;
    top: -200vh;
    float: left;
}

.chat_list_element{
    font-family: 'Inter';
    color: white;
    background-color: #252525;
    
    width: 400px;
    height: 60px;
    position: relative;
    display: flex;
    transition: 0.2s;
    cursor: pointer;
}
.chat_list_element:hover{
    background-color: #474747;
}

.chat_list_element_image{
    object-fit: cover;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: relative;
    top: 5px;
    left: 5px;
}

.chat_list_element_title{
    position: relative;
    margin-left: 15px;
    margin-top: 10px;
    
}

.image_upload{
    position: relative;
    display: block;
    width: 400px;
    margin: 0 auto;
}

.file-upload {
    background-color: #ffffff;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
}
  
.file-upload-content {
    display: none;
    width: 400px;
    height: 150px;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    display: block;
    width: 400px;
    height: 150px;
    margin-top: 20px;
    border: 2px dashed #BE9E79;
    border-radius: 20px;
    position: relative;
    transition: 0.3s;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: rgb(80, 80, 80);
    border: 2px dashed #ffffff;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
    position: relative;
    top: 40%;
    color:#BE9E79;
    font-family: 'Inter';
    font-size: 12pt;
}

.file-upload-image {
    height: 150px;
    margin: 0 auto;
    padding: 20px;
}

.remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all .2s ease;
}

.edit-info-button-save{
    display: block;
    position: relative;
    width: 100px;
    height: 50px;
    margin: 20px auto;
    top: 80px;
    background-color: #BE9E79;
    border: none;
    border-radius: 10px;
    color: white;
    transition: 0.2s;
}
.edit-info-button-save:hover{
    background-color: #665541;
    color: grey;
}

.edit_info_title{
    margin-top: 20px;
    text-align: center;
    color: #BE9E79;
    font-family: 'Inter';
}

.edit-info-username-input{
    display: block;
    background-color: #252525;
    border: 2px solid #BE9E79;
    border-radius: 10px;
    width: 300px;
    height: 40px;
    margin: 10px auto;
    color: white;
    font-size: 15pt;
    padding-left: 10px;
}

.edit-info-status-input{
    display: block;
    background-color: #252525;
    border: 2px solid #BE9E79;
    border-radius: 10px;
    width: 400px;
    height: 40px;
    margin: 0 auto;
    color: white;
    font-size: 15pt;
    padding-left: 10px;
}

.edit-info-avatar-title{
    width: 400px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    color: white;
    font-family: 'Inter';
    font-size: 15pt;
}

.edit-info-avatar-current{
    display: block;
    height: 150px;
    margin: 10px auto;
}

.search-input{
    width: 100%;
    height: 40px;
    position: relative;
    margin-left: 10px;
    font-size: 12pt;
    font-family: 'Inter';
    background-color: #252525;
    border: none;
    color: white;
    padding-left: 5px;
    outline: none;
}

.chat_list_element_text{
    position: relative;
    left: 15px;
    top: 5px;
    color: grey;
    font-size: 10pt;
    width: 330px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-title{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #42362E;

}

.no-chat{
    height: 100vh;
    margin-left: 400px;
    position: relative;
    top: 0vh;
}

.no-chat-message{
    display: block;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    top: 200px;
    border: 2px solid yellow;
}

.chat{
    height: 100vh;
    margin-left: 100%;
    transition: 0.5s all ease;
    position: relative;
    top: -100vh;
    background-color: #252525;
}

.chat-title-exit-button{
    display: block;
    width: 30px;
    height: 20px;
    top: 15px;
    position: relative;
    margin-left: 10px;
    cursor: pointer;
}

.chat-title-avatar{
    object-fit: cover;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: relative;
    top: 5px;
    left: 20px;
    cursor: pointer;
}

#chat-title-text{
    position: relative;
    font-size: 13pt;
    left: 30px;
    top: 15px;
    font-family: 'Inter';
    color: white;
    cursor: pointer;
}

.chat-panel{
    display: flex;
    width: 100%;
    height: 40px;
    background-color: #313131;
    position: absolute;
    bottom: 0;
}

.chat-panel-attach{
    display: block;
    height: 30px;
    width: 30px;
    margin-left: 5px;
    position: relative;
    top: 5px;
    cursor: pointer;
}

.chat-panel-input{
    margin-left: 5px;
    background-color: #313131;
    color: white;
    padding-left: 10px;
    font-size: 12pt;
    outline: none;
    border: none;
}
.chat-panel-emoji{
    display: block;
    height: 26px;
    width: 26px;
    margin-left: 8px;
    position: relative;
    top: 8px;
    cursor: pointer;
}

.chat-panel-micro{
    display: block;
    height: 30px;
    width: 30px;
    margin-left: 10px;
    position: relative;
    top: 5px;
    cursor: pointer;
}

.chat-panel-send{
    display: block;
    height: 30px;
    width: 30px;
    margin-left: 10px;
    position: relative;
    top: 5px;
    cursor: pointer;
}

.profile_bg{
    width: 100%;
    height: 100vh;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s linear;
}

.profile_window{
    width: 30%;
    height: 40%;
    min-width: 400px;
    min-height: 500px;
    display: block;
    background-color: #464646;
    position: relative;
    margin: 0 auto;
    top: 100px;
    border-radius: 10px;
}

#main-content{
    transition: 0.5s;
}

.profile-avatar{
    object-fit: cover;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: relative;
    top: 20px;
    left: 20px;
}

.profile-username{
    font-family: 'Inter';
    color: white;
    font-size: 15pt;
    position: relative;
    left: 50px;
    top: 45px;
    
}

.profile-text{
    font-family: 'Inter';
    color: white;
    font-size: 12pt;
    position: relative;
    left: 30px;
    margin-top: 20px;
    width: 90%;
    overflow-wrap: break-word;
}

.profile-hint{
    font-family: 'Inter';
    color: #9F9F9F;
    font-size: 12pt;
    position: relative;
    left: 30px;
    margin-top: 5px;
}

.profile-image{
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
}
.profile-text-file{
    font-family: 'Inter';
    color: #BE9E79;
    font-size: 12pt;
    position: relative;
    left: 10px;
    top: 5px;
}

.profile-image-dangerous{
    display: block;
    width: 25px;
    height: 25px;
    position: relative;
}

.profile-text-dangerous{
    color: #FF4444;
    font-family: 'Inter';
    font-size: 12pt;
    position: relative;
    left: 12px;
    top: 2px;
}

.user_info{
    display: flex;
    background-color: #42362E;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 50px;
}

.user_info_avatar{
    object-fit: cover;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: relative;
    margin-top: 5px;
    margin-left: 5px;
}

.user_info_username{
    font-family: 'Inter';
    color: white;
    font-size: 13pt;
    position: relative;
    left: 10px;
    top: 15px; 
}

.user_info_settings{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
}